* {
    all: unset;
    padding: 0;
    margin: 0;
    min-height: 0;
    border: none;
    color: #fff;
    font-family: "waybar-custom-font", "JetBrainsMono Nerd Font", "Roboto", sans-serif;
}

tooltip {
    background-color: rgba(0, 0, 0, 0.90);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

window#waybar {
    background: alpha(#172237, 0.25);
}

.modules-left {
    margin-left: 5px;
}

.modules-right {
    margin-right: 5px;
}

#clock, #network, #pulseaudio, #battery {
    font-size: 18px;
}

#pulseaudio,
#battery {
    margin: 0 8px;
}

#workspaces {
    padding: 4px 8px;
    background-color: #172237;
    border-radius: 20px;
}

#workspaces button {
    min-width: 25px;
    margin: 0 4px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
    transition: all 0.25s ease-in-out;
}

#workspaces button:hover {
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    background: rgba(255, 255, 255, 0.5);
}

#workspaces button.active {
    min-width: 65px;
    border-radius: 12px;
    background: #fff;
}

#workspaces button.active:hover {
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    background: #fff;
}

#window {
    padding: 0 8px;
    margin-left: 5px;
    background-color: #172237;
    border-radius: 20px;
}

window#waybar.empty #window {
    background: transparent;
    padding: 0;
    margin: 0;
    min-width: 0;
}

#clock {
    padding: 0 24px;
    background-color: #172237;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
}

#network {
    padding: 0 18px;
    margin-right: 5px;
    border-radius: 20px;
    background: #172237;
}

.modules-right > widget:nth-child(2) > box {
    padding: 0 10px;
    border-radius: 20px;
    background: #172237;
}

#custom-notifications {
    margin-left: 5px;
    padding: 0 10px;
    border-radius: 20px;
    background: #172237;
}
